*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ubuntu';
    src: url(Fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'quick';
    src: url(Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
#nav{
    height: 50px;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.073);
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
   
}
#leftside{
    /* border: 1px solid red; */
    width: 70%;
}
 #leftside a{
        text-decoration: none;
        color: #E1C8AA;

}
#leftside h1{
    display: inline-block;
    margin-left: 0px;
   
    color: #007A62;
    font-family: 'ubuntu';
    
}
#leftside h1:hover{
    color: green;
    text-decoration: underline green;
}
#leftside img{
    
    margin-left: 20px;
}
#rightside{
   
    width: 40%;
    padding-left: 30px;
}
#rightside img{
    margin-left: 60px;
    margin-top: 18px;
}
#leftside a:hover{
    color: green;
    text-decoration: underline green;
}



#main {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  
  #left {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1993);
    width: auto;
  }
  #laft{
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1993);
  }
  #pa{
    visibility: hidden;
  }
  #d1,
  #d2,
  #d3,
  #d4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1993);
    margin: 20px 0;
    margin-top: 0px;
    padding: 10px;
    width: 100%;
  }
  
  #d1 img,
  #d2 img,
  #d3 img,
  #d4 img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }
  
  #d1 h4,
  #d2 h4,
  #d3 h4,
  #d4 h4 {
    display: inline-block;
    margin-left: 40px;
    font-family: 'ubuntu';
  }
  
  #right {
    flex: 2;
    position: relative;
  }
  #B12 img{
    margin-top: 70px;
  }

  


  #b1 {
    position: absolute;
    left: 10%;
    bottom: 60%;
    width: 400px;
    height: 390px;
    border: 1px solid rgba(0, 0, 0, 0.1993);
    display: flex;
    flex-direction: column;
  }
  
  #b12 {
    background-image: url(Images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
  }
  
  #b12 a,
  #b12 p {
    text-decoration: none;
    color: white;
    margin-left: 24px;
    font-family: 'ubuntu';
    font-weight: bolder;
  }
  
  #b12 a {
    font-size: larger;
    margin-top: 30px; 
  }
  
  #parag1 {
    margin-top: 10px; 
  }
  
  #parag2 {
    margin-top: 5px; 
  }
  
  #b12 img {
    width: 100px;
    height: 100px;
    border-radius: 40%;
    position: absolute;
    top: 45px;
    left: 280px;
  
  }
  
  #b2 p {
    visibility: hidden;
  }
  
  #b3 {
    border-top: none;
    border: 1px solid grey;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #b3 img {
    width: 30px;
    height: 30px;
  }
  




  #i1 {
    margin-left: 210px;
  }
  
  #i2 {
    margin-left: 30px;
  }
  
  #b12 p:hover,
  #b12 a:hover {
    text-decoration: underline white;
    color: white;
    font-weight: bolder;
  }
  
  #i5 {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
  #d31 p{
    margin-left: 100px;
  }
  #box1:hover {
        background-color: rgba(135, 206, 250, 0.237);
  }
  #box1{
    background-color: rgba(135, 206, 250, 0.437);
    border-radius: 40px;
    height: 40px;
    
    /* display: inline-block; */
  }
  /* #box1,#box2,#box3,#box4,#box5,#box6,#box7{
    display: inline-block;
  } */
  #box2:hover {
    background-color: rgba(135, 206, 250, 0.437);
    height: 40px;
    border-radius: 40px;
}
#box2{
  height: 40px;
}
#box3:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box3{
height: 40px;
}
#box4:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box4{
height: 40px;
}
#box5:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box5{
height: 40px;
}
#box6:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box6{
height: 40px;
}#box3:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box7{
height: 40px;
}
#box7:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#d31{
height: 40px;
}
#d31:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box8{
height: 40px;
}
#box8:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box9{
height: 40px;
}
#box9:hover {
  background-color: rgba(135, 206, 250, 0.437);
  height: 40px;
  border-radius: 40px;
}
#box3{
height: 40px;
}


